$dark-gray: #aeaeae;
$denim: #197bbd;
$eclipse: #404040;
$golden-tainoi: #ffc145;
$light-gray: #d4d4d4;
$nobel: #9c9c9c;
$pacific-blue: #0098c4;
$red: #dc3545;
$whisper: #ebebeb;

$theme-colors: (
  "danger": $red,
  "denim": $denim,
  "golden-tainoi": $golden-tainoi,
  "pacific-blue": $pacific-blue,
);
