$dark-gray: #aeaeae;
$light-gray: #d4d4d4;
$denim: #197bbd;
$pacific-blue: #0098c4;
$nobel: #9c9c9c;
$red: #dc3545;

$theme-colors: (
  "denim": $denim,
  "pacific-blue": $pacific-blue,
  "danger": $red,
);
