// Forms
$input-border-radius: 0;
$input-focus-box-shadow: none;
$input-placeholder-color: $dark-gray;
$input-border-color: $light-gray;
$input-font-weight: 300;

// Base
$font-family-base: "Poppins";

// Buttons
$btn-border-radius: 13.6px;
$btn-padding-x: 2rem;
$btn-padding-y: 0.15rem;
$btn-font-weight: 700;
$btn-font-size: 24px;

// Links
$link-color: $denim;
